body {
  width: 100%;
  height: 100vh;
  background: url(background.jpg);
  background-position: center center;
  background-size: cover;
  padding-left: 30px;
  padding-right: 30px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.header_text {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

.header_text_top {
  font-size: 40px;
  color: #FFE500;
  
  font-family: "Noto Serif", serif;
}

.header_text_bottom {
  color: white;
  font-size: 15px;
  margin-top: 10px;
  margin-left: 60px;
  font-family: "Roboto", sans-serif;
}

.header_menu {
  display: flex;
  list-style-type: none;
  margin-right: 250px;
}

.header_menu_item {
  font-size: 18px;
  margin-right: 30px;
}

.header_menu_link {
  font-family: "Noto Serif", serif;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  padding-bottom: 5px;
  color: white;
}

.header_menu_link:hover {
  color: #f1cdb3;
  border-bottom: 2px solid #f1cdb3;
}

.main {
  display: flex;
}


.main_image {
  margin-top: 100px;
  margin-left: 300px;
}

.main_div_p {
  font-size: 25px;
  color: whitesmoke;
  margin-left: 350px;
}

.main_text {
  width: 700px;
  font-size: 25px;
  color:whitesmoke;
  margin-top: 125px;
  margin-left: 100px;
}

.second_div {
  display: flex;
  flex-direction: column;
}

.button {
  width: 75px; 
  display: flex;
  justify-content: center;
  padding: 20px 40px;
  text-decoration: none;
  background-color: #FFE500;
  color: black;
  font-weight: 700;
  border-radius: 6px;
  box-shadow: 0px 4px 24px #FFE500;
  margin-left: 100px;
  margin-top: 50px;
}

.button:hover{ 
  background-color: lime;
  box-shadow: 0px 4px 24px lime;
  transform: scale(1.1);
}